* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

section {
  margin-bottom: 36px;
}

button {
  cursor: pointer;
}

.black {
  background-color: #000000 !important;
  color: #ffffff !important;
  fill: #ffffff !important;
}

.white-border {
  border: 3px solid #ffffff !important;
}

.black a {
  color: #ffffff !important;
}

.black svg {
  fill: #ffffff !important;
}

.container {
  width: 915px;
  padding: 0 175px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("/images/Group 141 (1).png");
  z-index: -99999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo {
  width: 93px;
  height: 38px;
  fill: #000000;
}

.intercalary-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#iyc-input {
  background-color: #d7d7d7;
  color: #7e7e7e;
  border-radius: 20px;
  font-size: 12px;
  line-height: 100%;
  padding: 10px 45px 10px 10px;
}

#iyc-btn {
  width: 35px;
  height: 35px;
  background-color: black;
  border-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 170px;
}

.iyc-svg {
  padding: 5px;
  fill: black;
  width: 35px;
  height: 35px;
}

.iyc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}

.rps-btn {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border-color: transparent;
  padding: 10px;
}

.rps-svg {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

.rock-paper-scissors {
  position: relative;
}

.rps-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 38px;
  margin-bottom: 36px;
  padding-left: 0px;
}

#rpsConclusion {
  text-align: center;
}

.rps-ai-choice {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 182px;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}

.rps-scoretab {
  position: absolute;
  right: 104px;
  top: -30px;
}

.rps-wrapper {
  position: relative;
}

.calculator-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.operators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 72px;
}

#numb1,
#numb2 {
  padding: 10px 20px;
  background-color: #d7d7d7;
  border-color: transparent;
  border-radius: 20px;
  font-size: 12px;
  color: #7e7e7e;
}

.operator-btn {
  border-radius: 20px;
  background-color: black;
  border-color: transparent;
  color: white;
  width: 27px;
  height: 27px;
  font-size: 12px;
}

.equals {
  border-radius: 20px;
  background-color: black;
  border-color: transparent;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

#calculation-result {
  padding: 10px 20px;
  background-color: #d7d7d7;
  border-color: transparent;
  border-radius: 20px;
  font-size: 12px;
  color: #7e7e7e;
}

.title-second {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 36px;
}

.calc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.input-num {
  width: 90px;
  height: 12px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 10px;
  gap: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  bottom: 3px;
  left: 5px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(215, 215, 215);
}

.input-num::-webkit-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::-moz-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num:-ms-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::-ms-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.btn-find {
  width: 35px;
  height: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 10px;
  padding-top: 7px;
  padding-bottom: 25px;
  padding-left: 7px;
  padding-right: 25px;
  background-color: black;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.calc-list-item {
  margin-top: 36px;
}

.false {
  color: red;
}

.true {
  color: rgb(3, 153, 0);
}

.football-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.grass {
  width: 720px;
  height: 220px;
  border-radius: 37px;
  border-width: 2px;
  background: rgb(90, 187, 88);
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  margin-left: 360px;
  margin-top: 36px;
}

.ball {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.title-second {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 36px;
}

.calc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.input-num {
  width: 90px;
  height: 12px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 10px;
  gap: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  bottom: 3px;
  left: 5px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(215, 215, 215);
}

.input-num::-webkit-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::-moz-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num:-ms-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::-ms-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.btn-find {
  width: 35px;
  height: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 10px;
  padding-top: 7px;
  padding-bottom: 25px;
  padding-left: 7px;
  padding-right: 25px;
  background-color: black;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.calc-list-item {
  margin-top: 36px;
}

.false {
  color: red;
}

.true {
  color: rgb(3, 153, 0);
}

.team-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#team-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 20px;
}

#team-name {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

#team-desc {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  width: 315px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-btn {
  border-color: transparent;
  background-color: transparent;
}

.team-svg {
  width: 50px;
}

.google-dino-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#google-dino-restart {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

section {
  margin-bottom: 36px;
}

.container {
  width: 915px;
  padding: 0 175px;
  margin-left: auto;
  margin-right: auto;
}

.title-fifth {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.div-img {
  width: 100px;
  height: 0px;
  border-width: 1px;
  border-style: dashed;
}

.btn-find {
  width: 35px;
  height: 35px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 10px;
  padding-top: 7px;
  padding-bottom: 25px;
  padding-left: 7px;
  padding-right: 25px;
  background-color: black;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.input-time {
  width: 90px;
  height: 12px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 10px;
  padding-left: 10px;
  gap: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  bottom: 3px;
  left: 5px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  background-color: rgb(215, 215, 215);
}

.input-num::-webkit-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::-moz-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num:-ms-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::-ms-input-placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.input-num::placeholder {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.time-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 36px;
  margin-right: 100px;
}

.hours {
  margin-left: 10px;
}

.div-img {
  margin-top: 22px;
}

.warnings {
  text-align: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-user-pref {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 38px;
}

.nav-link {
  color: #000000;
}

#themeSwitch {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
}

.header-svg {
  width: 40px;
  height: 20px;
}

.footer {
  background: #ffffff;
  padding-top: 75px;
  padding-bottom: 75px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-svg {
  width: 165px;
  height: 70px;
}

.footer-input {
  padding: 10px 20px;
  background-color: #d7d7d7;
  border-color: transparent;
  border-radius: 20px;
  font-size: 12px;
  color: #7e7e7e;
  margin-right: 36px;
  font-family: "Montserrat Alternates", sans-serif;
}

.footer-btn {
  background-color: black;
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-family: "Montserrat Alternates", sans-serif;
}