* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

section {
  margin-bottom: 36px;
}

button {
  cursor: pointer;
}

.black {
  background-color: $black !important;
  color: $white !important;
  fill: $white !important;
}

.white-border {
  border: 3px solid $white !important;
}

.black a {
  color: $white !important;
}

.black svg {
  fill: $white !important;
}
