ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000000;
  margin-bottom: 36px;
}

section {
  margin-bottom: 36px;
}
