.google-dino-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

#google-dino-restart {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

#canvas {
  background-color: white;
}
