.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-user-pref {
  display: flex;
  gap: 50px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 38px;
}

.nav-link {
  color: $black;
}
