.intercalary-form {
  display: flex;
  align-items: center;
  position: relative;
}

#iyc-input {
  background-color: #d7d7d7;
  color: #7e7e7e;
  border-radius: 20px;

  font-size: 12px;
  line-height: 100%;
  padding: 10px 45px 10px 10px;
}

#iyc-btn {
  width: 35px;
  height: 35px;
  background-color: black;
  border-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  left: 170px;
}

.iyc-svg {
  padding: 5px;
  fill: black;
  width: 35px;
  height: 35px;
}

.iyc-wrapper {
  display: flex;
  justify-content: space-between;
}

.site-title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-bottom: 36px;
}
