.rps-btn {
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 20px;
  border-color: transparent;
  padding: 10px;
}

.rps-svg {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

.rock-paper-scissors {
  position: relative;
}

.rps-options {
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-bottom: 36px;
  padding-left: 0px;
}

#rpsConclusion {
  text-align: center;
}

.rps-ai-choice {
  background-color: black;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 182px;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: transparent;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 12px;
}

.rps-scoretab {
  position: absolute;
  right: 104px;
  top: -30px;
}

.rps-wrapper {
  position: relative;
}
