ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}


section {
  margin-bottom: 36px;
}
.container {
  width: 915px;
  padding: 0 175px;
  margin-left: auto;
  margin-right: auto;
}
.title-fifth{
font-family: "Montserrat Alternates";
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
  text-align: center;
}
.div-img{
    width: 100px;
height: 0px;
border-width: 1px;
border-style: dashed;

}
.btn-find{
 width: 35px;
height: 35px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
gap: 10px;
padding-top: 7px;
padding-bottom: 25px;
padding-left: 7px;
padding-right: 25px;
background-color: black;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);

}
.input-time{
   width: 90px;
height: 12px;
padding-top: 10px;
padding-right: 45px;
padding-bottom: 10px;
padding-left: 10px;
gap: 10px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
position: relative;
bottom: 3px;
left: 5px;
box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
background-color: rgba(215, 215, 215, 1);
}
.input-num::placeholder{
font-family: "Montserrat Alternates";
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
}
.time-list{
  display: flex;
 gap: 33px;
justify-content: center;
margin-top: 36px;
margin-right: 100px;
}
.hours{
    margin-left:10px;
}
.div-img{
  margin-top:22px;

}
.warnings{
  text-align: center;
}